
.navbar-brand{
    background: #000;
    background-image: url(../img/02.png);
    width: 50px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-nav ul{
background: white;
}

.side-bar .list-group-item{
border: 0;
border-radius: 3px;
    margin-bottom: 5px;
}


.side-bar .list-group-item.active{
background-color: black;
}